<!DOCTYPE html>
<html>
  <head>
    <title>Processador de factures</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Processador de factures - Una eina per processar factures i eliminar dades sensibles de forma segura i ràpida.">
    <meta name="keywords" content="processador de factures, factures, processament de dades, eliminar dades sensibles">
    <meta name="author" content="Pere Joan Martorell Calaf">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="bg-white shadow p-4">
      <h1 class="text-3xl font-bold text-center">Processador de factures</h1>
    </header>

    <div class="container mx-auto p-4">
      <% if flash[:error] %>
        <div class="bg-red-200 text-red-800 p-4 rounded mt-4 flash-message">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="bg-green-200 text-green-800 p-4 rounded mt-4 flash-message">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(msg => {
                setTimeout(() => {
                    msg.style.transition = 'opacity 1s ease-out';
                    msg.style.opacity = '0'; // Start fading out
                    setTimeout(() => {
                        msg.style.display = 'none'; // Remove from view after fading
                    }, 1000); // Match this duration to the CSS transition
                }, 5000); // Adjust timeout duration as needed (5000ms = 5 seconds)
            });
        });
    </script>

  </body>
</html>
